<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comfortable Walk</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="js/script.js" type="text/javascript" charset="UTF-8"></script>
    <script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="" style="">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a class="navbar-brand text-primary" href="#">
        <i class="fa d-inline fa-lg fa-location-arrow"></i>
        <b> Comfortable walk</b>
    </a>
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar5">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar5">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="#"><span th:text="${name}"></span></a></li>
            </ul>
            <img th:src="${picture}" width="30px">
            <ul class="navbar-nav ml-auto">
            </ul>
            <a th:href="@{/logout}" class="btn btn-outline-primary navbar-btn ml-md-2">Log out<br></a>
        </div>
    </div>
</nav>
<div class="py-0 pt-2" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="">
                <form id="sendData" action="/sendData" class="mb-2" method="post">
                    <h2 class="">Route setup</h2>
                    <div class="form-group"><label><b>Set the points of departure and arrival</b></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><u>A</u></span>
                            </div>
                            <input id="autocompleteFrom" type="text" class="form-control"
                                   onFocus="initAutocompleteFrom()" name="fromPoint" required>
                            <input id="fromPointLat" style="display: none"/>
                            <input id="fromPointLng" style="display: none"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><u>B</u></span>
                            </div>
                            <input id="autocompleteTo" type="text" class="form-control"
                                   onFocus="initAutocompleteTo()" name="toPoint" required>
                            <input id="toPointLat" style="display: none"/>
                            <input id="toPointLng" style="display: none"/>
                        </div>
                    </div>
                    <label><b>Specify route properties</b></label>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input id="weather" type="checkbox" class="custom-control-input"/>
                            <label class="custom-control-label" for="weather">I want the best weather</label>
                        </div>
                    </div>
                    <label><b>What places do you want to visit?</b></label>
                    <div class="form-group">
                        <ul id="myTags">
                        </ul>
                    </div>
                    <button id="test_submit" onclick="sendData()" type="button" class="btn btn-block btn-outline-primary"><b>Build</b></button>
                </form>
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">Feature</h4>
                    <p class="mb-0">The construction of routes is available so far only in St. Petersburg</p>
                </div>
            </div>
            <div class="col-md-8" style="">
                <div id="googleMap" style="width:100%;height:557px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="loader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsx7KAWwgcWwWdvaVbjLRfWwnqrqoShN0&libraries=places&callback=initialize"
        async defer></script>
</body>
</html>