<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comfortable Walk</title>
    <meta name="description">
    <meta name="keywords">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/aquamarine.css" type="text/css">
</head>

<body>
<div class="align-items-center d-flex py-5 cover section-aquamarine"
     style="background-size: 110%; background: url(/image/original.jpg) repeat center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 align-self-center text-lg-left text-center" style="">
                <h1 class="mb-0 mt-5 display-4">Building&nbsp;routes according to your wishes</h1>
                <p class="mb-5 lead">consideration of weather and social factors</p>
            </div>
            <div class="col-lg-5 p-3" style="">
                <form class="p-4 bg-light" method="post" action="https://formspree.io/" style="">
                    <div class="form-group">
                        <p class="text-center">Log in through other services</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 p-1" style="">
                            <a class="btn text-white btn-block" href="oauth2/authorize-client/google"
                               style="background: rgb(221, 75, 57);">
                                <i class="fa fa-google-plus-circle fa-fw fa-1x py-1"></i><b>Google</b>
                            </a>
                        </div>
                        <div class="col-md-12 p-1" style="">
                            <a class="btn text-white btn-block" href="oauth2/authorize-client/facebook"
                               style="background: rgb(59, 89, 152);">
                                <i class="fa fa-facebook-square fa-fw fa-1x py-1"></i><b>Facebook</b>
                            </a></div>
                        <div class="col-md-12 p-1" style="">
                            <a class="btn text-white btn-block" href="oauth2/authorize-client/github"
                               style="	background: rgb(59, 89, 152);	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                                <i class="fa fa-fw fa-1x py-1 fa-github"></i><b>Github</b>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>