<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title></title>
  <meta name="description">
  <meta name="keywords">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="aquamarine.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>
</head>

<body>
  <!-- Navbar -->
  <!-- Cover -->
  <div class="align-items-center d-flex py-5 cover section-aquamarine" style="background-image: url(&quot;assets/image/original.jpg&quot;); background-position: center center; background-size: 110%; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center text-lg-left text-center" style="">
          <h1 class="mb-0 mt-5 display-4">Building&nbsp;routes according to your wishes</h1>
          <p class="mb-5 lead">consideration of weather and social factors</p>
        </div>
        <div class="col-lg-5 p-3" style="">
          <form class="p-4 bg-light" method="post" action="https://formspree.io/" style="">
            <div class="form-group">
              <p class="text-center">Log in through other services</p>
            </div>
            <div class="row">
              <div class="col-md-12 p-1" style=""><a class="btn text-white btn-block" href="#" style="background: rgb(221, 75, 57);" target="_blank"><i class="fa fa-google-plus-circle fa-fw fa-1x py-1"></i>&nbsp;<b>Google</b></a></div>
              <div class="col-md-12 p-1" style=""><a class="btn text-white btn-block" href="#" style="background: rgb(59, 89, 152);" target="_blank"><i class="fa fa-facebook-square fa-fw fa-1x py-1"></i>&nbsp;Facebook</a></div>
              <div class="col-md-12 p-1" style=""><a class="btn text-white btn-block" href="#" style="	background: rgb(59, 89, 152);	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));	background-position: top left;	background-size: 100%;	background-repeat: repeat;" target="_blank" contenteditable="true"><i class="fa fa-fw fa-1x py-1 fa-github"></i>&nbsp;Github</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro -->
  <!-- Gallery -->
  <!-- Menu -->
  <!-- Carousel reviews -->
  <!-- Carousel venue -->
  <!-- Events -->
  <!-- Parallax section -->
  <!-- Footer -->
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js" style=""></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>